{% extends 'layout.html.twig' %}

{% block body %}
<div role="main" class="main">
    <section class="main-content-wrap">
        <div class="container">
            <div class="owl-carousel main-slides first-slides" data-plugin-options='{"items": 1, "autoPlay": false, "navigation": true}'>
                <div class="slide-item">
                    <img class="img-responsive" src="images/slides/demo-slide-1.jpg" alt="">
                    <div class="slide-item-caption-wrap">
                        <div class="slide-item-caption-cont">
                            <div class="slide-item-caption-info">
                                <p class="product-cat">Lookbook</p>
                                <span class="divider bg-color1"></span>
                                <h1>Fall/Winter<br>
                                    2014 new<br>
                                    collection</h1>
                                <p class="btn-group"><a href="#" class="btn btn-default">Shop Men's</a> <a href="#" class="btn btn-default">Shop Women's</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img class="img-responsive" src="images/slides/demo-slide-2.jpg" alt="">
                    <div class="slide-item-caption-wrap">
                        <div class="slide-item-caption-cont">
                            <div class="slide-item-caption-info">
                                <p class="product-cat">Winter Style</p>
                                <span class="divider bg-color1"></span>
                                <h1>All The Trends You Need This Season</h1>
                                <p class="btn-group"><a href="#" class="btn btn-default">Shop Men's</a> <a href="#" class="btn btn-default">Shop Women's</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img class="img-responsive" src="images/slides/demo-slide-3.jpg" alt="">
                    <div class="slide-item-caption-wrap">
                        <div class="slide-item-caption-cont">
                            <div class="slide-item-caption-info">
                                <p class="product-cat">Lookbook</p>
                                <span class="divider bg-color1"></span>
                                <h1>20% Off New!<br>
                                    Limited Edition<br>
                                    collection</h1>
                                <p class="btn-group"><a href="#" class="btn btn-default">Shop Men's</a> <a href="#" class="btn btn-default">Shop Women's</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="featured-cat">
            <div class="container">
                <div class="row row-fluid">
                    <div class="col-xs-6">
                        <div class="cat-thumb-item cat-thumb-video">
                            <div class="cat-thumb-item-img">
                                <img class="img-responsive" src="images/products/demo-1.jpg" alt="">
                                <span class="cat-thumb-act">
												<a href="#"><i class="fa fa-play-circle-o"></i></a>
											</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row row-fluid cat-thumb-item">
                            <div class="col-xs-6 col-xs-offset-6 cat-thumb-item-img">
                                <img class="img-responsive" src="images/products/demo-2.jpg" alt="">
                            </div>
                            <div class="col-xs-6 cat-thumb-item-content-wrap bg-color1">
                                <div class="cat-thumb-item-content">
                                    <div class="cat-thumb-item-content-inner">
                                        <p class="product-cat">Online Sale</p>
                                        <h3><a href="#">Aquatimer Automatic Watches</a></h3>
                                        <p><a href="#">Shop now</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row row-fluid cat-thumb-item">
                            <div class="col-xs-6 col-xs-offset-6 cat-thumb-item-content-wrap">
                                <div class="cat-thumb-item-content">
                                    <div class="cat-thumb-item-content-inner">
                                        <p class="product-cat">Autumn 2014</p>
                                        <h3><a href="#">Lookbook Printemps</a></h3>
                                        <p><a href="#">See the collection</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 cat-thumb-item-img">
                                <img class="img-responsive" src="images/products/demo-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="latest">
            <div class="container">
                <h2>Our Latest Picks</h2>
                <p>The best of luxury watches</p>
                <div class="row">
                    <div class="owl-carousel multi-slides" data-plugin-options='{"items": 4, "singleItem": false, "itemsDesktop": 3, "pagination": false, "navigation": true}'>
                        <div class="col-md-12">
                            <div class="thumb-item">
                                <div class="thumb-item-img">
                                    <a href="shop-product-detail-classic.html" class="btn-detail">
                                        <img class="img-responsive" src="images/products/product-1.jpg" alt="">
                                        <img class="img-responsive" src="images/products/product-1-over.jpg" alt="">
                                    </a>
                                    <span class="thumb-act thumb-act-first">
													<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
													<a href="javascript:void(0);" data-toggle="modal" data-target="#quickview-detail"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-heart-o"></i></a>
													<a href="#"><i class="fa fa-exchange"></i></a>
												</span>
                                </div>
                                <div class="thumb-item-content">
                                    <div class="star-rating pull-right" title="Rated 5.00 out of 5">
                                        <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                                    </div>
                                    <h3><a href="#">Silver Stainless Steel</a></h3>
                                    <p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
                                    <p class="product-price"><ins>$280.00</ins></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumb-item">
                                <div class="thumb-item-img">
                                    <a href="shop-product-detail-classic.html" class="btn-detail">
                                        <img class="img-responsive" src="images/products/product-2.jpg" alt="">
                                        <img class="img-responsive" src="images/products/product-2-over.jpg" alt="">
                                    </a>
                                    <span class="thumb-act thumb-act-first">
													<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
													<a href="javascript:void(0);" data-toggle="modal" data-target="#quickview-detail"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-heart-o"></i></a>
													<a href="#"><i class="fa fa-exchange"></i></a>
												</span>
                                </div>
                                <div class="thumb-item-content">
                                    <div class="star-rating pull-right" title="Rated 5.00 out of 5">
                                        <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                                    </div>
                                    <h3><a href="#">Silver Stainless Steel</a></h3>
                                    <p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
                                    <p class="product-price"><ins>$280.00</ins></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumb-item">
                                <div class="thumb-item-img">
                                    <a href="shop-product-detail-classic.html" class="btn-detail">
                                        <img class="img-responsive" src="images/products/product-3.jpg" alt="">
                                        <img class="img-responsive" src="images/products/product-3-over.jpg" alt="">
                                    </a>
                                    <span class="thumb-act thumb-act-first">
													<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
													<a href="javascript:void(0);" data-toggle="modal" data-target="#quickview-detail"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-heart-o"></i></a>
													<a href="#"><i class="fa fa-exchange"></i></a>
												</span>
                                </div>
                                <div class="thumb-item-content">
                                    <div class="star-rating pull-right" title="Rated 5.00 out of 5">
                                        <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                                    </div>
                                    <h3><a href="#">Silver Stainless Steel</a></h3>
                                    <p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
                                    <p class="product-price"><ins>$280.00</ins></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumb-item">
                                <div class="thumb-item-img">
                                    <a href="shop-product-detail-classic.html" class="btn-detail">
                                        <img class="img-responsive" src="images/products/product-4.jpg" alt="">
                                        <img class="img-responsive" src="images/products/product-4-over.jpg" alt="">
                                    </a>
                                    <span class="thumb-act thumb-act-first">
													<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
													<a href="javascript:void(0);" data-toggle="modal" data-target="#quickview-detail"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-heart-o"></i></a>
													<a href="#"><i class="fa fa-exchange"></i></a>
												</span>
                                </div>
                                <div class="thumb-item-content">
                                    <div class="star-rating pull-right" title="Rated 5.00 out of 5">
                                        <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                                    </div>
                                    <h3><a href="#">Silver Stainless Steel</a></h3>
                                    <p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
                                    <p class="product-price"><ins>$280.00</ins></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumb-item">
                                <div class="thumb-item-img">
                                    <a href="shop-product-detail-classic.html" class="btn-detail">
                                        <img class="img-responsive" src="images/products/product-5.jpg" alt="">
                                        <img class="img-responsive" src="images/products/product-5-over.jpg" alt="">
                                    </a>
                                    <span class="thumb-act thumb-act-first">
													<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
													<a href="javascript:void(0);" data-toggle="modal" data-target="#quickview-detail"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-heart-o"></i></a>
													<a href="#"><i class="fa fa-exchange"></i></a>
												</span>
                                </div>
                                <div class="thumb-item-content">
                                    <div class="star-rating pull-right" title="Rated 5.00 out of 5">
                                        <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                                    </div>
                                    <h3><a href="#">Silver Stainless Steel</a></h3>
                                    <p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
                                    <p class="product-price"><ins>$280.00</ins></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="featured-foot">
            <div class="container">
                <div class="row row-fluid">
                    <div class="col-sm-6 contact-info-wrap equal-height bg-img-3">
                        <div class="contact-info">
                            <h2>Our Store</h2>
                            <address>
                                Pzza Martiri Olivetta, 16, 16034, Portofino, Italy
                            </address>
                            <span class="divider bg-color3"></span>
                            <p><strong>Opening hours</strong></p>
                            <p>Monday to Friday: 9am - 6pm<br>
                                Saturday to Sunday: 10am - 4pm</p>
                        </div>
                    </div>
                    <div class="col-sm-6 newsletter bg-color2 equal-height">
                        <div class="newsletter-form">
                            <h2>Sign up for updates</h2>
                            <p>Sign up to get exclusive offers from our store</p>
                            <form role="form">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your Email Address">
                                </div>
                                <button type="submit" class="btn btn-default">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
{% endblock %}